# Proyek Akhir Matematika Diskrit
### Menentukan Jadwal Kuliah mahasiswa UPI Cibiru angkatan 2024 berdasarkan Dosen

nama file : "P01_pembersihan.ipynb"
- Dalam file kode ini dipaparkan alur pengolahan data excel dari masih mentah menjadi siap digunakan
- Dalam kode ini juga dibuat matriks ketetanggaan yang akan digunakan pada proses pewarnaan graf

In [16]:
# Library utama yang akan digunakan adalah pandas, untuk pengolahan dataframe
import pandas as pd

---
#### Pra-Proses
- Data awal beranama "01_Ploting Dosen 2024-2025-1 angk 2024.xlsx"
- Data diubah dulu secara manual yaitu dengan menyamakan:
    - Nama dosen
    - Gelar dosen
    - Tanda baca
- Data tersebut di save dengan nama "02_data.xlsx"

In [17]:
# Membaca file awal setelah direvisi manual
data = pd.read_excel('02_data.xlsx')
print(data)

                                              Dosen  \
0    Devi Aprianti Rimadhani Agustini, S.Si., M.Si.
1    Devi Aprianti Rimadhani Agustini, S.Si., M.Si.
2    Devi Aprianti Rimadhani Agustini, S.Si., M.Si.
3                       Dian Anggraini, S.ST., M.T.
4                       Dian Anggraini, S.ST., M.T.
..                                              ...
125                 Yayang Furi Purnamasari, M.Pd.
126                 Yayang Furi Purnamasari, M.Pd.
127                    Yulia Retnowati, S.Pd., M.T.
128                    Yulia Retnowati, S.Pd., M.T.
129                    Yulia Retnowati, S.Pd., M.T.

                                           Mata Kuliah   Prodi Kelas
0                           TR102 - Matematika Diskrit  TEKKOM    1A
1                           TR102 - Matematika Diskrit  TEKKOM    1B
2                           TR102 - Matematika Diskrit  TEKKOM    1C
3           RL116 - Pengantar Rekayasa Perangkat Lunak     RPL    1C
4           RL116 - Pengantar Rekayasa Perangkat Lunak     RPL    1B
..                                                 ...     ...   ...
125                 KU105 - Pendidikan Kewarganegaraan  TEKKOM    1B
126                 KU105 - Pendidikan Kewarganegaraan  TEKKOM    1C
127  RL115 - Literasi Teknologi Informasi dan Komun...     RPL    1C
128  RL115 - Literasi Teknologi Informasi dan Komun...     RPL    1B
129  RL115 - Literasi Teknologi Informasi dan Komun...     RPL    1A

[130 rows x 4 columns]

---
#### Mencari data yang tidak unik
- Hal ini dilakukan sebagai bentuk batasan yang diterapkan
- Apabila satu dosen mengajar mahasiswa yang sama (prodi & kelas) di 2 atau lebih mata kuliah yang berbeda, maka dosen tersebut akan dianggap sebagai 2 atau lebih individu yang berbeda sesuai dengan jumlah mata kuliah yang diajarkan

In [18]:
cekKeunikan = data.groupby(['Dosen', 'Prodi', 'Kelas']).cumcount() + 1

# Membuat kolom baru untuk keunikan
data['Keunikan'] = cekKeunikan

# Data yang tidak unik ialah data yang memiliki keunikan > 1 
print(data[data['Keunikan'] > 1])

                              Dosen                          Mata Kuliah  \
7        Dian Rinjani, S.Pd., M.Ds.                      PM200 - Nirmana
9        Dian Rinjani, S.Pd., M.Ds.                      PM200 - Nirmana
93  Ririn Despriliani, S.Pd., M.Si.  UD110 - Psikologi Perkembangan Anak
95  Ririn Despriliani, S.Pd., M.Si.  UD110 - Psikologi Perkembangan Anak
97  Ririn Despriliani, S.Pd., M.Si.  UD110 - Psikologi Perkembangan Anak

         Prodi Kelas  Keunikan
7   Multimedia    1B         2
9   Multimedia    1A         2
93      PGPAUD    1A         2
95      PGPAUD    1B         2
97      PGPAUD    1C         2

---
#### Perbaikan Manual
- Memberikan kode unik untuk dosen-dosen yang memiliki keunikan > 1
    - Dian Rijani
    - Ririn Despriliani
- Menambahkan mata kuliah Pendidikan Agama Katolik
- Data baru disimpan dengan nama "03_data - Copy.xlsx"

---
#### Menerapkan kode unik untuk setiap dosen
- Kode unik digunakan agar pembuatan matriks ketetangaan lebih mudah untuk dibaca
- Setiap dosen akan mendapatkan kode unik berupa "D + *nomor urutan*"
- Proses ini merupakan proses terakhir pembersihan data
- Data disimpan dengan nama "04_data_clean.xlsx"

In [19]:
# membaca file baru
dataBaru = pd.read_excel('03_data - Copy.xlsx')

In [20]:
# Mmmbaca setiap nama dosen 1x
dosenUnik = dataBaru["Dosen"].unique()

for dosen in dosenUnik:
    print(dosen)
    
banyakDosen = len(dosenUnik) # menghitung jumlah dosen
print("----------------------------------------------")
print("Banyaknya dosen: " + str(banyakDosen))

Devi Aprianti Rimadhani Agustini, S.Si., M.Si.
Dian Anggraini, S.ST., M.T.
(I) Dian Rinjani, S.Pd., M.Ds.
(N) Dian Rinjani, S.Pd., M.Ds.
Dr. Agus Mulyana, M.Pd.
Dr. Ai Sutini, M.Pd.
Dr. Arif Hidayat, S.Pd.I., M.Pd.I.
Dr. Asep Rudi Nurjaman, M.Pd.I.
Dr. Cucu Sutianah, M.Pd.
Dr. Dede Trie Kurniawan, S.Si., M.Pd.
Dr. Dinie Anggraini Dewi, M.Pd.
Dr. Eng. Munawir, S.Kom., M.T.
Dr. Jenuri, S.Pd., M.Ag.
Dr. Kurniawati, M.Pd.
Dr. Muh. Husen Arifin, S.E., M.Pd.
Dr. Rendi Restiana Sukardi, M.Pd.
Dr. Tita Mulyati, M.Pd.
Dr. Yeni Yuniarti, M.Pd.
Dr. Yunus Abidin, M.Pd.
Dr. Yusuf Tri Herlambang, M.Pd.
Dra. Tin Rustini, M.Pd.
Fully Rakhmayanti, M.Pd.
Indira Syawanodya, M.Kom.
Moh. Helmi Ismail, M.Pd.
Nurhidayatulloh, S.Pd., M.T.
Prof. Dr. Leli Halimah, M.Pd.
Raditya Muhammad, M.T.
(B) Ririn Despriliani, S.Pd., M.Si.
(A) Ririn Despriliani, S.Pd., M.Si.
Suka Prayanta Pendia, S.Pd., M.P.Fis.
Triana Lestari, S.Psi., M.Pd.
Winti Ananthia, S.Pd., M.Ed.
Yayang Furi Purnamasari, M.Pd.
Yulia Retnowati, S.Pd., M.T.
Prof. Dr. Florentina Maria Titin Supriyanti, M.Si.
----------------------------------------------
Banyaknya dosen: 35

In [21]:
# membuat kode unik dengan format "D + (nomor urutan)"
kodeUnik = []

for i in range(banyakDosen):
    kode = 'D' + str(i+1)
    kodeUnik.append(kode)

print(kodeUnik)

['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18', 'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28', 'D29', 'D30', 'D31', 'D32', 'D33', 'D34', 'D35']

In [22]:
# Memasangkan kode dosen sesuai dengan urutan dosen
kodeDosen = {} # Dibuat dalam bentuk dict agar mudah untuk digunakan pada dataframe

for i in range(banyakDosen):
    nama = dosenUnik[i]
    kode = kodeUnik[i]

    kodeDosen[nama] = kode

print(kodeDosen)

{'Devi Aprianti Rimadhani Agustini, S.Si., M.Si.': 'D1', 'Dian Anggraini, S.ST., M.T.': 'D2', '(I) Dian Rinjani, S.Pd., M.Ds.': 'D3', '(N) Dian Rinjani, S.Pd., M.Ds.': 'D4', 'Dr. Agus Mulyana, M.Pd.': 'D5', 'Dr. Ai Sutini, M.Pd.': 'D6', 'Dr. Arif Hidayat, S.Pd.I., M.Pd.I.': 'D7', 'Dr. Asep Rudi Nurjaman, M.Pd.I.': 'D8', 'Dr. Cucu Sutianah, M.Pd.': 'D9', 'Dr. Dede Trie Kurniawan, S.Si., M.Pd.': 'D10', 'Dr. Dinie Anggraini Dewi, M.Pd.': 'D11', 'Dr. Eng. Munawir, S.Kom., M.T.': 'D12', 'Dr. Jenuri, S.Pd., M.Ag.': 'D13', 'Dr. Kurniawati, M.Pd.': 'D14', 'Dr. Muh. Husen Arifin, S.E., M.Pd.': 'D15', 'Dr. Rendi Restiana Sukardi, M.Pd.': 'D16', 'Dr. Tita Mulyati, M.Pd.': 'D17', 'Dr. Yeni Yuniarti, M.Pd.': 'D18', 'Dr. Yunus Abidin, M.Pd.': 'D19', 'Dr. Yusuf Tri Herlambang, M.Pd.': 'D20', 'Dra. Tin Rustini, M.Pd.': 'D21', 'Fully Rakhmayanti, M.Pd.': 'D22', 'Indira Syawanodya, M.Kom.': 'D23', 'Moh. Helmi Ismail, M.Pd.': 'D24', 'Nurhidayatulloh, S.Pd., M.T.': 'D25', 'Prof. Dr. Leli Halimah, M.Pd.': 'D26', 'Raditya Muhammad, M.T.': 'D27', '(B) Ririn Despriliani, S.Pd., M.Si.': 'D28', '(A) Ririn Despriliani, S.Pd., M.Si.': 'D29', 'Suka Prayanta Pendia, S.Pd., M.P.Fis.': 'D30', 'Triana Lestari, S.Psi., M.Pd.': 'D31', 'Winti Ananthia, S.Pd., M.Ed.': 'D32', 'Yayang Furi Purnamasari, M.Pd. ': 'D33', 'Yulia Retnowati, S.Pd., M.T.': 'D34', 'Prof. Dr. Florentina Maria Titin Supriyanti, M.Si.': 'D35'}

In [23]:
# Membuat kolom baru pada dataframe bernama "Kode"
# Lalu menerapkan nilainya sesuai dengan pasangan dosen & kodenya
dataBaru['Kode'] = dataBaru['Dosen'].map(kodeDosen)

print(dataBaru)

                                                 Dosen  \
0       Devi Aprianti Rimadhani Agustini, S.Si., M.Si.
1       Devi Aprianti Rimadhani Agustini, S.Si., M.Si.
2       Devi Aprianti Rimadhani Agustini, S.Si., M.Si.
3                          Dian Anggraini, S.ST., M.T.
4                          Dian Anggraini, S.ST., M.T.
..                                                 ...
127                       Yulia Retnowati, S.Pd., M.T.
128                       Yulia Retnowati, S.Pd., M.T.
129                       Yulia Retnowati, S.Pd., M.T.
130  Prof. Dr. Florentina Maria Titin Supriyanti, M...
131  Prof. Dr. Florentina Maria Titin Supriyanti, M...

                                           Mata Kuliah       Prodi Kelas Kode
0                           TR102 - Matematika Diskrit      TEKKOM    1A   D1
1                           TR102 - Matematika Diskrit      TEKKOM    1B   D1
2                           TR102 - Matematika Diskrit      TEKKOM    1C   D1
3           RL116 - Pengantar Rekayasa Perangkat Lunak         RPL    1C   D2
4           RL116 - Pengantar Rekayasa Perangkat Lunak         RPL    1B   D2
..                                                 ...         ...   ...  ...
127  RL115 - Literasi Teknologi Informasi dan Komun...         RPL    1C  D34
128  RL115 - Literasi Teknologi Informasi dan Komun...         RPL    1B  D34
129  RL115 - Literasi Teknologi Informasi dan Komun...         RPL    1A  D34
130                   KU102 - Pendidikan Agama Katolik      TEKKOM    1A  D35
131                   KU102 - Pendidikan Agama Katolik  Multimedia    1A  D35

[132 rows x 5 columns]

In [24]:
# Save file ke bentuk excel
dataBaru.to_excel(r'C:\Avin Folder EX\S1\Matematika Diskrit\Proyek Akhir\Program\04_data_clean.xlsx', index=False)

---

# Pembuatan Matriks ketetanggaan
- Menggunakan kode unik dosen yang sudah dibuat
- Keterhubungan dicari berdasarkan mahasiswa yang diajar (Prodi + kelas)
- Data disimpan dengan nama "05_matriks.xlsx"

In [25]:
# membuat dataframe matriks dengan ukuran sesuai kodeUnik x kodeUnik
matriks_adj = pd.DataFrame(0, index=kodeUnik, columns=kodeUnik)

print(matriks_adj)

     D1  D2  D3  D4  D5  D6  D7  D8  D9  D10  ...  D26  D27  D28  D29  D30  \
D1    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D2    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D3    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D4    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D5    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D6    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D7    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D8    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D9    0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D10   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D11   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D12   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D13   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D14   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D15   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D16   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D17   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D18   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D19   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D20   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D21   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D22   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D23   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D24   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D25   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D26   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D27   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D28   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D29   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D30   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D31   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D32   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D33   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D34   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D35   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0

     D31  D32  D33  D34  D35
D1     0    0    0    0    0
D2     0    0    0    0    0
D3     0    0    0    0    0
D4     0    0    0    0    0
D5     0    0    0    0    0
D6     0    0    0    0    0
D7     0    0    0    0    0
D8     0    0    0    0    0
D9     0    0    0    0    0
D10    0    0    0    0    0
D11    0    0    0    0    0
D12    0    0    0    0    0
D13    0    0    0    0    0
D14    0    0    0    0    0
D15    0    0    0    0    0
D16    0    0    0    0    0
D17    0    0    0    0    0
D18    0    0    0    0    0
D19    0    0    0    0    0
D20    0    0    0    0    0
D21    0    0    0    0    0
D22    0    0    0    0    0
D23    0    0    0    0    0
D24    0    0    0    0    0
D25    0    0    0    0    0
D26    0    0    0    0    0
D27    0    0    0    0    0
D28    0    0    0    0    0
D29    0    0    0    0    0
D30    0    0    0    0    0
D31    0    0    0    0    0
D32    0    0    0    0    0
D33    0    0    0    0    0
D34    0    0    0    0    0
D35    0    0    0    0    0

[35 rows x 35 columns]

---
#### Mencari pasangan data
- Pasangan data adalah pasangan antara dosen dan mahasiswa yang diajar
- Mahasiswa akan diwakilkan oleh kombinasi prodi + kelas
- Format untuk setiap data sesuai dengan latihan graf yang pernah dikerjakan, yaitu,
    - Kode dosen : [kumpulan mahasiswa yang diajar]
- Kumpulan mahasiswa yang diajar pada kode ini juga disebut:
    - Kumpulan kode (kumpulanKode)
    - Kelas
    - Kumpulan Kelas (kumpulanKelas)
- Pasangan dibuat agar memudahkan proses pencarian hubungan

In [26]:
pasangan = []

for kode in kodeUnik: # Cek setiap kode unik dosen

    # Mencari terlebih dahulu kumpulan kode mahasiswa yang memiliki dosen yang sama
    # Kode mahasiswa = prodi + kelas
    
    kumpulanKode = []
    for j in range(len(dataBaru)):
        if kode is dataBaru.loc[j, 'Kode']: # Jika kode yang dicek saat ini sama dengan kode pada dataframe
            # Maka, masukkan prodi + kelas ke kumpulanKode
            mahasiswa = dataBaru.loc[j, 'Prodi'] + dataBaru.loc[j, 'Kelas']
            kumpulanKode.append(mahasiswa) 
    
    pasangan.append([kode, kumpulanKode]) # Pasangkan kode dengan kumpulanKode yang dicari

In [27]:
for data in pasangan:
    print(data[0] + " : " + str(data[1]))

D1 : ['TEKKOM1A', 'TEKKOM1B', 'TEKKOM1C']
D2 : ['RPL1C', 'RPL1B', 'RPL1A']
D3 : ['Multimedia1B', 'Multimedia1A']
D4 : ['Multimedia1B', 'Multimedia1A']
D5 : ['Multimedia1B', 'Multimedia1A']
D6 : ['PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C']
D7 : ['PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C', 'TEKKOM1A', 'TEKKOM1B', 'TEKKOM1C']
D8 : ['Multimedia1B', 'Multimedia1A']
D9 : ['Multimedia1B', 'Multimedia1A']
D10 : ['TEKKOM1A', 'TEKKOM1B', 'TEKKOM1C']
D11 : ['Multimedia1B', 'Multimedia1A', 'PGSD1A', 'PGSD1B', 'PGSD1C', 'PGSD1D']
D12 : ['TEKKOM1A', 'TEKKOM1B', 'TEKKOM1C']
D13 : ['RPL1C', 'RPL1B', 'RPL1A']
D14 : ['Multimedia1B', 'Multimedia1A', 'PGSD1B', 'PGSD1C', 'PGSD1D', 'PGSD1E', 'PGSD1F']
D15 : ['PGSD1E', 'PGSD1F']
D16 : ['PGSD1A', 'PGSD1B', 'PGSD1C', 'PGSD1D', 'PGSD1E', 'PGSD1F']
D17 : ['PGSD1A', 'PGSD1B', 'PGSD1C']
D18 : ['PGSD1D', 'PGSD1E', 'PGSD1F']
D19 : ['PGSD1A']
D20 : ['PGSD1A', 'PGSD1B', 'PGSD1C', 'PGSD1D', 'PGSD1E', 'PGSD1F']
D21 : ['PGSD1A', 'PGSD1B', 'PGSD1C', 'PGSD1D']
D22 : ['RPL1C', 'RPL1B', 'RPL1A', 'TEKKOM1A', 'TEKKOM1B', 'TEKKOM1C']
D23 : ['RPL1C', 'RPL1B', 'RPL1A']
D24 : ['PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C']
D25 : ['Multimedia1B', 'Multimedia1A']
D26 : ['PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C']
D27 : ['RPL1C', 'RPL1B', 'RPL1A']
D28 : ['PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C']
D29 : ['PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C']
D30 : ['TEKKOM1A', 'RPL1A', 'Multimedia1A', 'PGPAUD1A']
D31 : ['PGSD1A', 'PGSD1B', 'PGSD1C', 'PGSD1D', 'PGSD1E', 'PGSD1F']
D32 : ['PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C', 'TEKKOM1A', 'TEKKOM1B', 'TEKKOM1C']
D33 : ['Multimedia1B', 'Multimedia1A', 'PGPAUD1A', 'PGPAUD1B', 'PGPAUD1C', 'PGSD1E', 'PGSD1F', 'RPL1C', 'RPL1B', 'RPL1A', 'TEKKOM1A', 'TEKKOM1B', 'TEKKOM1C']
D34 : ['RPL1C', 'RPL1B', 'RPL1A']
D35 : ['TEKKOM1A', 'Multimedia1A']

---
#### Mencari hubungan ketetanggaan antar dosen
- Cara mencari hubungan ketetanggaan sesuai dengan latihan graf yang pernah dikerjakan
- Dosen 1 dan dosen 2 dikatakan bertetangga apabila setidaknya mengajar di 1 kelas mahasiswa yang sama

In [28]:
banyakPasangan = len(pasangan)

# Cek 2 pasangan satu persatu
for i in range(banyakPasangan):  
    kodeDosen_1 = pasangan[i][0] 

    for j in range(banyakPasangan): 
        kodeDosen_2 = pasangan[j][0]

        if kodeDosen_1 is kodeDosen_2: # bila kode dosen sama, maka biarkan nilai tetap 0
            break
        
        for kelas1 in pasangan[i][1]: # Cek setiap kelas yang diajar dosen 1
            kumpulanKelas2 = pasangan[j][1]
            
            # Bila setidaknya ada 1 kelas yang diajar dosen 1 ada di kumpulan kelas yang diajarkan oleh dosen 2,
            # Maka ubah nilai ketetanggaannya menjadi 1
            if kelas1 in kumpulanKelas2: 
                matriks_adj.loc[kodeDosen_1, kodeDosen_2] = 1
                matriks_adj.loc[kodeDosen_2, kodeDosen_1] = 1
                break

In [29]:
print(matriks_adj)

     D1  D2  D3  D4  D5  D6  D7  D8  D9  D10  ...  D26  D27  D28  D29  D30  \
D1    0   0   0   0   0   0   1   0   0    1  ...    0    0    0    0    1
D2    0   0   0   0   0   0   0   0   0    0  ...    0    1    0    0    1
D3    0   0   0   1   1   0   0   1   1    0  ...    0    0    0    0    1
D4    0   0   1   0   1   0   0   1   1    0  ...    0    0    0    0    1
D5    0   0   1   1   0   0   0   1   1    0  ...    0    0    0    0    1
D6    0   0   0   0   0   0   1   0   0    0  ...    1    0    1    1    1
D7    1   0   0   0   0   1   0   0   0    1  ...    1    0    1    1    1
D8    0   0   1   1   1   0   0   0   1    0  ...    0    0    0    0    1
D9    0   0   1   1   1   0   0   1   0    0  ...    0    0    0    0    1
D10   1   0   0   0   0   0   1   0   0    0  ...    0    0    0    0    1
D11   0   0   1   1   1   0   0   1   1    0  ...    0    0    0    0    1
D12   1   0   0   0   0   0   1   0   0    1  ...    0    0    0    0    1
D13   0   1   0   0   0   0   0   0   0    0  ...    0    1    0    0    1
D14   0   0   1   1   1   0   0   1   1    0  ...    0    0    0    0    1
D15   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D16   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D17   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D18   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D19   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D20   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D21   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D22   1   1   0   0   0   0   1   0   0    1  ...    0    1    0    0    1
D23   0   1   0   0   0   0   0   0   0    0  ...    0    1    0    0    1
D24   0   0   0   0   0   1   1   0   0    0  ...    1    0    1    1    1
D25   0   0   1   1   1   0   0   1   1    0  ...    0    0    0    0    1
D26   0   0   0   0   0   1   1   0   0    0  ...    0    0    1    1    1
D27   0   1   0   0   0   0   0   0   0    0  ...    0    0    0    0    1
D28   0   0   0   0   0   1   1   0   0    0  ...    1    0    0    1    1
D29   0   0   0   0   0   1   1   0   0    0  ...    1    0    1    0    1
D30   1   1   1   1   1   1   1   1   1    1  ...    1    1    1    1    0
D31   0   0   0   0   0   0   0   0   0    0  ...    0    0    0    0    0
D32   1   0   0   0   0   1   1   0   0    1  ...    1    0    1    1    1
D33   1   1   1   1   1   1   1   1   1    1  ...    1    1    1    1    1
D34   0   1   0   0   0   0   0   0   0    0  ...    0    1    0    0    1
D35   1   0   1   1   1   0   1   1   1    1  ...    0    0    0    0    1

     D31  D32  D33  D34  D35
D1     0    1    1    0    1
D2     0    0    1    1    0
D3     0    0    1    0    1
D4     0    0    1    0    1
D5     0    0    1    0    1
D6     0    1    1    0    0
D7     0    1    1    0    1
D8     0    0    1    0    1
D9     0    0    1    0    1
D10    0    1    1    0    1
D11    1    0    1    0    1
D12    0    1    1    0    1
D13    0    0    1    1    0
D14    1    0    1    0    1
D15    1    0    1    0    0
D16    1    0    1    0    0
D17    1    0    0    0    0
D18    1    0    1    0    0
D19    1    0    0    0    0
D20    1    0    1    0    0
D21    1    0    0    0    0
D22    0    1    1    1    1
D23    0    0    1    1    0
D24    0    1    1    0    0
D25    0    0    1    0    1
D26    0    1    1    0    0
D27    0    0    1    1    0
D28    0    1    1    0    0
D29    0    1    1    0    0
D30    0    1    1    1    1
D31    0    0    1    0    0
D32    0    0    1    0    1
D33    1    1    0    1    1
D34    0    0    1    0    0
D35    0    1    1    0    0

[35 rows x 35 columns]

In [30]:
# Save data dalam bentuk excel
matriks_adj.to_excel(r'C:\Avin Folder EX\S1\Matematika Diskrit\Proyek Akhir\Program\05_matriks.xlsx')